// @font-face {
//   font-family: "CeraPro";
//   src: url(~@/fonts/CeraPro-Regular.ttf) format("font-type");
// }

* {
  box-sizing: border-box;
}

// Colors
$primaryBlue: #3953dc;
$success: #45b81f;
$infoLink: #01a9f2;
$warning: #fb9b09;
$danger: #f93c28;
$darkText: #444444;
$lightText: #8b8b8b;
$lightText2: #aaaaaa;
$almostWhite: #f3f3f3;
$cardShadow: #dbdbdb;
$white: #ffffff;

// Font Sizes
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$black: 700;
